{% if admin.isGranted('EDIT') %}
	<a class="btn btn-sm btn-primary" href="{{ admin.generateObjectUrl('return', object) }}?return=1">Return</a>
{% endif %}
<hr>
{% if admin.isGranted('EDIT') %}
	<a class="btn btn-sm btn-primary" href="{{ admin.generateObjectUrl('edit', object) }}">Cancel</a>
{% endif %}

