<a class="btn btn-sm btn-primary" href="{{ admin.generateObjectUrl('return', object) }}?return=1">Return</a>
<hr>
<a class="btn btn-sm btn-primary" href="{{ admin.generateObjectUrl('edit', object) }}">Cancel</a>

